[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pillow = "*"
djangorestframework = "*"
pyjwt = {extras = ["crypto"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
